.navbar-brand {
  background: url("../img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 130px;
}

.padding-top-10{
  padding-top: 10px;
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

body { 
  padding-top: 70px;
      min-width: 300px !important;
     overflow: auto;
  
}

table
{
  font-size: 5px;
  table-layout: auto;
    min-width: 0px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #0CA5B0;
}