.navbar-brand {
  background: url("../img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 130px;
}

.div_img_wrapper {
    height: 100%;
}

.div_img_wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}